# Advanced Pandas 5

In [ ]:
import pandas as pd

# 2356. Number of Unique Subjects Taught by Each Teacher

**Difficulty**: Easy  
**Topics**: SQL, Pandas  

## Schema

### Table: `Teacher`
| Column Name | Type |
|-------------|------|
| `teacher_id`  | int  |
| `subject_id`  | int  |
| `dept_id`     | int  |

- `(subject_id, dept_id)` is the primary key (unique combinations of columns) of this table.
- Each row in this table indicates that the teacher with `teacher_id` teaches the subject `subject_id` in the department `dept_id`.

---

## Task

Write a solution to calculate the number of unique subjects each teacher teaches in the university.  

Return the result table in **any order**.

---

## Example

### Input:  
`Teacher` table:
| teacher_id | subject_id | dept_id |
|------------|------------|---------|
| 1          | 2          | 3       |
| 1          | 2          | 4       |
| 1          | 3          | 3       |
| 2          | 1          | 1       |
| 2          | 2          | 1       |
| 2          | 3          | 1       |
| 2          | 4          | 1       |

---

### Output:
| teacher_id | cnt |
|------------|-----|
| 1          | 2   |
| 2          | 4   |

---

### Explanation:
#### Teacher 1:
- Teaches **subject 2** in departments **3** and **4**.
- Teaches **subject 3** in department **3**.  
Unique subjects taught: **2**.

#### Teacher 2:
- Teaches **subject 1** in department **1**.
- Teaches **subject 2** in department **1**.
- Teaches **subject 3** in department **1**.
- Teaches **subject 4** in department **1**.  
Unique subjects taught: **4**.