# Advanced Pandas 7

In [ ]:
import pandas as pd

# 570. Managers with at Least 5 Direct Reports

## Difficulty
Medium

## Topics
SQL, Pandas, Data Analysis

## Schema

### Table: Employee

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |

- `id` is the primary key (column with unique values) for this table.
- Each row of this table indicates the name of an employee, their department, and the `id` of their manager.
- If `managerId` is `null`, then the employee does not have a manager.
- No employee will be the manager of themself.

---

## Problem Statement

Write a solution to find managers with **at least five direct reports**.

### Input

#### Example Table: `Employee`

| id  | name  | department | managerId |
|-----|-------|------------|-----------|
| 101 | John  | A          | null      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |

### Output

#### Example Output Table

| name |
|------|
| John |

---

## Notes

- A "direct report" is an employee whose `managerId` corresponds to the `id` of the manager.
- The result should include only the names of managers with at least 5 direct reports.
- The result can be returned in any order.

## Tags

- SQL Query Writing
- Grouping and Aggregation
- Filtering with Conditions
- Data Analysis in Pandas

In [ ]:
# 286 ms
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    result = employee.groupby('managerId').size().reset_index(name='reports')
    hint = result[result['reports'] >= 5]
    hint = pd.merge(employee, hint, left_on='id',right_on='managerId',how='inner')
    return hint[['name']]

In [ ]:
# 240 ms
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    group = employee[['id', 'managerId']].groupby(by='managerId', as_index=False).count()
    return group[group.id >= 5].merge(employee, how='inner', left_on='managerId', right_on='id')[['name']]

### 607. Sales Person

#### Difficulty: Easy

---

### Table: SalesPerson

| Column Name     | Type    |
|------------------|---------|
| sales_id        | int     |
| name            | varchar |
| salary          | int     |
| commission_rate | int     |
| hire_date       | date    |

- `sales_id` is the primary key (column with unique values) for this table.
- Each row of this table indicates the name and the ID of a salesperson alongside their salary, commission rate, and hire date.

---

### Table: Company

| Column Name | Type    |
|-------------|---------|
| com_id      | int     |
| name        | varchar |
| city        | varchar |

- `com_id` is the primary key (column with unique values) for this table.
- Each row of this table indicates the name and the ID of a company and the city in which the company is located.

---

### Table: Orders

| Column Name | Type    |
|-------------|---------|
| order_id    | int     |
| order_date  | date    |
| com_id      | int     |
| sales_id    | int     |
| amount      | int     |

- `order_id` is the primary key (column with unique values) for this table.
- `com_id` is a foreign key (reference column) to `com_id` from the `Company` table.
- `sales_id` is a foreign key (reference column) to `sales_id` from the `SalesPerson` table.
- Each row of this table contains information about one order. This includes the ID of the company, the ID of the salesperson, the date of the order, and the amount paid.

---

### Problem

Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name `"RED"`.

Return the result table in any order.

---

### Example 1:

#### Input: 

**SalesPerson table:**
| sales_id | name  | salary  | commission_rate | hire_date  |
|----------|-------|---------|-----------------|------------|
| 1        | John  | 100000  | 6               | 4/1/2006   |
| 2        | Amy   | 12000   | 5               | 5/1/2010   |
| 3        | Mark  | 65000   | 12              | 12/25/2008 |
| 4        | Pam   | 25000   | 25              | 1/1/2005   |
| 5        | Alex  | 5000    | 10              | 2/3/2007   |

**Company table:**
| com_id | name   | city     |
|--------|--------|----------|
| 1      | RED    | Boston   |
| 2      | ORANGE | New York |
| 3      | YELLOW | Boston   |
| 4      | GREEN  | Austin   |

**Orders table:**
| order_id | order_date | com_id | sales_id | amount |
|----------|------------|--------|----------|--------|
| 1        | 1/1/2014   | 3      | 4        | 10000  |
| 2        | 2/1/2014   | 4      | 5        | 5000   |
| 3        | 3/1/2014   | 1      | 1        | 50000  |
| 4        | 4/1/2014   | 1      | 4        | 25000  |

#### Output: 

| name  |
|-------|
| Amy   |
| Mark  |
| Alex  |

#### Explanation:

According to orders 3 and 4 in the `Orders` table, it is easy to tell that only salesperson John and Pam have sales to the company `"RED"`. So, we report all the other names in the `SalesPerson` table.