# Advanced Pandas 5

In [ ]:
import pandas as pd

# 2356. Number of Unique Subjects Taught by Each Teacher

**Difficulty**: Easy  
**Topics**: SQL, Pandas  

## Schema

### Table: `Teacher`
| Column Name | Type |
|-------------|------|
| `teacher_id`  | int  |
| `subject_id`  | int  |
| `dept_id`     | int  |

- `(subject_id, dept_id)` is the primary key (unique combinations of columns) of this table.
- Each row in this table indicates that the teacher with `teacher_id` teaches the subject `subject_id` in the department `dept_id`.

---

## Task

Write a solution to calculate the number of unique subjects each teacher teaches in the university.  

Return the result table in **any order**.

---

## Example

### Input:  
`Teacher` table:
| teacher_id | subject_id | dept_id |
|------------|------------|---------|
| 1          | 2          | 3       |
| 1          | 2          | 4       |
| 1          | 3          | 3       |
| 2          | 1          | 1       |
| 2          | 2          | 1       |
| 2          | 3          | 1       |
| 2          | 4          | 1       |

---

### Output:
| teacher_id | cnt |
|------------|-----|
| 1          | 2   |
| 2          | 4   |

---

### Explanation:
#### Teacher 1:
- Teaches **subject 2** in departments **3** and **4**.
- Teaches **subject 3** in department **3**.  
Unique subjects taught: **2**.

#### Teacher 2:
- Teaches **subject 1** in department **1**.
- Teaches **subject 2** in department **1**.
- Teaches **subject 3** in department **1**.
- Teaches **subject 4** in department **1**.  
Unique subjects taught: **4**.

In [ ]:
def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    unique_subjects = teacher.drop_duplicates(['teacher_id', 'subject_id'])
    result = unique_subjects.groupby('teacher_id')['subject_id'].count().reset_index()
    result.columns = ['teacher_id', 'cnt']
    return result

In [ ]:
# another solution 250 ms
def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    return teacher.groupby('teacher_id', as_index=False)['subject_id'].nunique().rename(columns={'subject_id':'cnt'})

# 596. Classes More Than 5 Students

**Difficulty:** Easy  
**Topics:** SQL, Pandas

---

### Table: Courses

| Column Name | Type    |
|-------------|---------|
| student     | varchar |
| class       | varchar |

- *(student, class)* is the primary key (combination of columns with unique values) for this table.
- Each row of this table indicates the name of a student and the class in which they are enrolled.

---

### Problem

Write a solution to find all the classes that have at least five students.

Return the result table in any order.

The result format is in the following example:

---

### Example 1:

**Input:**  
Courses table:

| student | class    |
|---------|----------|
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |

**Output:**  

| class   |
|---------|
| Math    |

**Explanation:**  
- Math has 6 students, so we include it.
- English has 1 student, so we do not include it.
- Biology has 1 student, so we do not include it.
- Computer has 1 student, so we do not include it.

In [ ]:
# still busy with this one

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    minSt = courses.groupby('student')['class'].count().reset_index()
    return minSt['class'] = minSt(minSt["student"] >= 5])