# Advanced Pandas 7

In [ ]:
import pandas as pd

# 570. Managers with at Least 5 Direct Reports

## Difficulty
Medium

## Topics
SQL, Pandas, Data Analysis

## Schema

### Table: Employee

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |

- `id` is the primary key (column with unique values) for this table.
- Each row of this table indicates the name of an employee, their department, and the `id` of their manager.
- If `managerId` is `null`, then the employee does not have a manager.
- No employee will be the manager of themself.

---

## Problem Statement

Write a solution to find managers with **at least five direct reports**.

### Input

#### Example Table: `Employee`

| id  | name  | department | managerId |
|-----|-------|------------|-----------|
| 101 | John  | A          | null      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |

### Output

#### Example Output Table

| name |
|------|
| John |

---

## Notes

- A "direct report" is an employee whose `managerId` corresponds to the `id` of the manager.
- The result should include only the names of managers with at least 5 direct reports.
- The result can be returned in any order.

## Tags

- SQL Query Writing
- Grouping and Aggregation
- Filtering with Conditions
- Data Analysis in Pandas

In [ ]:
'''
The question description is incorrect.
It asks to Write a solution to find managers with at least five direct reports.

and in sample output the name is column is given which is the Employee name not the Manager's.
'''

In [ ]:
# still busy