# Advanced Pandas 3

In [ ]:
import pandas as pd

### Problem: 177. Nth Highest Salary

#### Difficulty: Medium  
#### Topics: SQL, Pandas  

---

### Table Schema

#### Employee Table:

| Column Name | Type  |
|-------------|-------|
| id          | int   |
| salary      | int   |

- `id` is the primary key (column with unique values) for this table.
- Each row of this table contains information about the salary of an employee.

---

### Task

Write a solution to find the nth highest salary from the `Employee` table. If there is no nth highest salary, return `null`.

---

### Example 1

#### Input:
**Employee Table**:
| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

`n = 2`

#### Output:
| getNthHighestSalary(2) |
|-------------------------|
| 200                     |

---

### Example 2

#### Input:
**Employee Table**:
| id | salary |
|----|--------|
| 1  | 100    |

`n = 2`

#### Output:
| getNthHighestSalary(2) |
|-------------------------|
| null                   |

---

### Constraints
1. The input contains at least one salary record.
2. `N` is a positive integer.

In [ ]:
# import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    newsalary = employee.sort_values(by = "salary", ascending=False).drop_duplicates(subset="salary", keep='first')
    if  employee["salary"].nunique() < N or N<=0:
        salary=pd.DataFrame({f'getNthHighestSalary({N})':[pd.NA]})
    else:
        p = newsalary.iloc[N-1]["salary"]
        salary=pd.DataFrame({f'getNthHighestSalary({N})':[p]})
    return salary

### Problem: 176. Second Highest Salary

#### Difficulty: Medium  
#### Topics: SQL, Pandas  

---

### Table Schema

#### Employee Table:

| Column Name | Type  |
|-------------|-------|
| id          | int   |
| salary      | int   |

- `id` is the primary key (column with unique values) for this table.
- Each row of this table contains information about the salary of an employee.

---

### Task

Write a solution to find the second highest distinct salary from the `Employee` table. If there is no second highest salary, return `null` (or `None` in Pandas).

---

### Example 1

#### Input:
**Employee Table**:
| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

#### Output:
| SecondHighestSalary |
|---------------------|
| 200                 |

---

### Example 2

#### Input:
**Employee Table**:
| id | salary |
|----|--------|
| 1  | 100    |

#### Output:
| SecondHighestSalary |
|---------------------|
| null                |

---

### Constraints
1. The input contains at least one salary record.
2. The salary column will not contain negative values.
3. `null` or `None` should be returned if there is no second highest salary.