# Advanced Pandas 6

In [ ]:
import pandas as pd

# 1693. Daily Leads and Partners  

**Difficulty**: Easy  
**Topics**: SQL, Pandas  

## Schema  

### Table: `DailySales`  
| Column Name | Type    |  
|-------------|---------|  
| `date_id`   | date    |  
| `make_name` | varchar |  
| `lead_id`   | int     |  
| `partner_id`| int     |  

- There is no primary key (column with unique values) for this table.  
- The table may contain duplicates.  
- This table contains the date and the name of the product sold and the IDs of the lead and partner it was sold to.  
- The `make_name` consists of only lowercase English letters.  

---

## Task  

Write a solution to calculate the number of distinct `lead_id`'s and `partner_id`'s for each `date_id` and `make_name`.  

Return the result table in **any order**.

---

## Example  

### Input:  
`DailySales` table:  
| date_id    | make_name | lead_id | partner_id |  
|------------|-----------|---------|------------|  
| 2020-12-8  | toyota    | 0       | 1          |  
| 2020-12-8  | toyota    | 1       | 0          |  
| 2020-12-8  | toyota    | 1       | 2          |  
| 2020-12-7  | toyota    | 0       | 2          |  
| 2020-12-7  | toyota    | 0       | 1          |  
| 2020-12-8  | honda     | 1       | 2          |  
| 2020-12-8  | honda     | 2       | 1          |  
| 2020-12-7  | honda     | 0       | 1          |  
| 2020-12-7  | honda     | 1       | 2          |  
| 2020-12-7  | honda     | 2       | 1          |  

---

### Output:  
| date_id    | make_name | unique_leads | unique_partners |  
|------------|-----------|--------------|-----------------|  
| 2020-12-8  | toyota    | 2            | 3               |  
| 2020-12-7  | toyota    | 1            | 2               |  
| 2020-12-8  | honda     | 2            | 2               |  
| 2020-12-7  | honda     | 3            | 2               |  

---

### Explanation:  

#### Date: 2020-12-8  
- **Toyota**  
  - Leads: `[0, 1]`  
  - Partners: `[0, 1, 2]`  
  - Unique leads: **2**, Unique partners: **3**  
- **Honda**  
  - Leads: `[1, 2]`  
  - Partners: `[1, 2]`  
  - Unique leads: **2**, Unique partners: **2**  

#### Date: 2020-12-7  
- **Toyota**  
  - Leads: `[0]`  
  - Partners: `[1, 2]`  
  - Unique leads: **1**, Unique partners: **2**  
- **Honda**  
  - Leads: `[0, 1, 2]`  
  - Partners: `[1, 2]`  
  - Unique leads: **3**, Unique partners: **2**